body {
  margin: 0;
  background: #a39f9f;
}

.container {
  display: flex;
  width: 500px;
  margin: 0;
}

.box {
  display: flex;
  width: 500px;
  height: 48px;
  background: #3c3a3c;
}

.enable {
  position: absolute;
  width: 18px;
  height: 36px;
  left: 450px;
  top: 5px;
}

.name {
  margin-left: 12px;
  font-family: "robotoo", sans-serif;
  font-size: 15px;
  color: #fff;
  margin-top: 16px;
  text-align: left;
}

.box2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 500px;
  height: 590px;
  top: 48px;
  background: #1c1a19;
  background-image: url("images/Illustration.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: bottom;
}

.intro {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-left: 30px;
}

.info {
  width: 327px;
  height: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  margin-left: 30px;
  margin-top: -10px;
  flex: none;
  order: 1;
  font-family: "Roboto", sans-serif;
}

.information {
  width: 327px;
  height: 123px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  margin-left: 30px;
  font-family: "Poppins", sans-serif;
}

.media {
  color: #fff;
  display: flex;
  list-style: none;
  width: 200px;
  height: 40px;
  font-size: x-large;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  margin-top: -10px;
  cursor: pointer;
}

.box3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  position: absolute;
  width: 500px;
  height: 3525px;
  top: 638px;
  background: #fff;
}

.mine {
  height: 83px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  flex: none;
  text-align: center;
}

.vector4 {
  width: 327px;
  background-color: #a39f9f;
  flex: none;
  order: 1;
  margin: 0;
  margin-bottom: 100px;
}

.craft {
  width: 327px;
  background: url(image_processing20200716-21735-f07s4k.png);
  flex: none;
}

.place {
  position: absolute;
  width: 327px;
  height: 227px;
  left: 40px;
}

.story {
  width: 327px;
  height: 36px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #091e42;
  flex: none;
}

.motive {
  width: 327px;
  height: 147px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-top: -10px;
  flex: none;
  order: 1;
}

.lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 297px;
  height: 40px;
  list-style: none;
}

.htmm {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.ccss {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  height: 40px;

  /* Neutrals/N0 */

  background: #fff;

  /* Neutrals/N90 */

  border: 1px solid #8993a4;
}

.boot {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  /* Neutrals/N0 */

  background: #fff;

  /* Neutrals/N90 */

  border: 1px solid #8993a4;
}

.raby {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  /* Neutrals/N0 */

  background: #fff;

  /* Neutrals/N90 */

  border: 1px solid #8993a4;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 100px;
  height: 40px;
  background: #ff6b00;
  flex: none;
  order: 3;
}

.see {
  width: 100px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
}

.project:active {
  background: #f86903;
  cursor: pointer;
}

.see:hover {
  color: #f86903;
  cursor: pointer;
}

.project:disabled {
  background: #fff;
}

.project:hover {
  background: #ebd4c3;
  cursor: pointer;
}

.seeproject {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 2436px;
  flex: none;
  order: 1;
}

.oneone {
  background-image: url("images/Mask\ Group\ \(1\).png");
  width: 327px;
  height: 386px;
}

.one {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-left: 20px;
  margin-top: 80px;
  color: #fff;
  flex: none;
}

.lineone {
  background-color: #ff6b00;
  width: 327px;
  height: 48px;
  margin-top: 20px;
  text-align: center; 
}

.seeme {
  width: 100px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding-top: 12px;
  text-align: center;
  margin-left: 100px;
  letter-spacing: 0.03em;
  color: #fff;
}

.imageone {
  height: 40px;
  margin-top: 5px;
  margin-left: 20px;
}

.two {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  margin-left: 20px;
}

.twotwo {
  background-image: url("images/Mask\ Group\ \(1\).png");
  width: 327px;
  height: 386px;
  margin-top: 20px;
}

.three {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  margin-top: 80px;
  margin-left: 20px;
}

.linetwo {
  background-color: #ff6b00;
  width: 327px;
  height: 48px;
}

.seetext {
  width: 100px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding-top: 12px;
  text-align: center;
  margin-left: 100px;
  letter-spacing: 0.03em;
  color: #fff;
}

.imagetwo {
  margin-left: 20px;
  margin-top: 5px;
}

.four {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  margin-left: 20px;
}

.threes {
  background-image: url("images/Mask\ Group\ \(1\).png");
  width: 327px;
  height: 386px;
  margin-top: 20px;
}

.five {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  margin-top: 80px;
  margin-left: 20px;
}

.linethree {
  background-color: #ff6b00;
  width: 327px;
  height: 48px;
  text-align: center;
}

.seethis {
  width: 100px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding-top: 12px;
  text-align: center;
  margin-left: 100px;
  letter-spacing: 0.03em;
  color: #fff;
}

.imagethree {
  margin-left: 20px;
  margin-top: 5px;
}

.six {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  margin-left: 20px;
}

.fours {
  background-image: url("images/Mask\ Group\ \(1\).png");
  width: 327px;
  height: 386px;
  margin-top: 20px;
}

.seven {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  margin-top: 80px;
  margin-left: 20px;
}

.seen {
  width: 100px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding-top: 12px;
  text-align: center;
  margin-left: 100px;
  letter-spacing: 0.03em;
  color: #fff;
}

.linefour {
  background-color: #ff6b00;
  width: 327px;
  height: 48px;
  text-align: center;
}

.seenn {
  width: 100px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding-top: 12px;
  text-align: center;
  margin-left: 100px;
  letter-spacing: 0.03em;
  color: #fff;
}

.imagefour {
  margin-left: 20px;
  margin-top: 5px;
}

.eight {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  margin-left: 20px;
}

.fives {
  background-image: url("images/Mask\ Group\ \(1\).png");
  width: 327px;
  height: 386px;
  margin-top: 20px;
}

.nine {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  margin-top: 80px;
  margin-left: 20px;
}

.linefive {
  background-color: #ff6b00;
  width: 327px;
  height: 48px;
  text-align: center;
}

.imagefive {
  margin-left: 20px;
  margin-top: 5px;
}

.ten {
  width: 295px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  height: 87px;
  color: #fff;
  flex: none;
  order: 1;
  font-family: "inter", sans-serif;
  flex-grow: 0;
  margin-left: 20px;
}

.sixs {
  background-image: url("images/Mask\ Group\ \(1\).png");
  width: 327px;
  height: 386px;
  margin-top: 20px;
}

.eleven {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  margin-top: 80px;
  margin-left: 20px;
}

.linesix {
  background-color: #ff6b00;
  width: 327px;
  height: 48px;
  text-align: center;
}

.se {
  width: 100px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding-top: 12px;
  text-align: center;
  margin-left: 100px;
  letter-spacing: 0.03em;
  color: #fff;
}

.imagesix {
  margin-left: 20px;
  margin-top: 5px;
}

.twelve {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  margin-left: 20px;
}

.about {
  position: absolute;
  width: 500px;
  height: 2200px;
  top: 4160px;
  background: #1c1a19;
}

.me {
  width: 327px;
  height: 79px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  margin-left: 20px;
  margin-top: 120px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
}

.hello {
  width: 327px;
  height: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin-left: 20px;
  flex: none;
  order: 1;
}

.my {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  text-align: justify;
  align-items: center;
  letter-spacing: 0.02em;
  color: #fff;
  flex: none;
  background-color: #ff6b00;
  margin-left: 20px;
  width: 148px;
  height: 48px;
}

.groupicon {
  position: absolute;
  left: 67.9%;
  top: 20.13%;
}

.iii {
  margin-top: 250px;
  width: 400px;
  margin-left: 20px;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  gap: 24px;
  position: absolute;
  width: 329px;
  height: 1241.46px;
  left: calc(35% - 329px / 2);
  top: 597px;
}

.mmm {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 100.46px;
  height: 41.46px;
}

.language {
  width: 164px;
  height: 41px;
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-top: 220px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  color: #fff;
}

.pic {
  width: 18px;
  height: 16px;
  background: #ff6b00;
  transform: rotate(-45deg);
  margin-top: 200px;
  margin-left: -215px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.jjj {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;
  gap: 1px;
  width: 186px;
  height: 216px;
  margin-top: 100px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.J {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 114px;
  height: 48px;
  flex: none;
  margin-left: 110px;
  font-size: 25px;
  color: #f4f5f7;
}

.R {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 114px;
  height: 48px;
  flex: none;
  margin-left: 140px;
  font-size: 25px;
  color: #f4f4f7;
}

.H {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 114px;
  height: 48px;
  flex: none;
  margin-left: 140px;
  font-size: 25px;
  color: #f4f5f7;
}

.C {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 114px;
  height: 48px;
  flex: none;
  margin-left: 140px;
  font-size: 25px;
  color: #f4f5f7;
}

.ggg {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 10px;
  gap: 12px;
  width: 281.81px;
  height: 49.61px;
}

.frame {
  width: 227px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  color: #fff;
  flex: none;
  margin-top: 150px;
  order: 1;
  flex-grow: 0;
}

.pic1 {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  margin-top: 130px;
  flex: none;
  margin-left: 30px;
}

.www {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 8px;
  margin-top: 100px;
  width: 186px;
  height: 272px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.B {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;
  width: 114px;
  height: 48px;
  flex: none;
  margin-left: 120px;
  font-size: 25px;
  color: #f4f4f7;
}

.Rr {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 200px;
  height: 48px;
  flex: none;
  margin-left: 170px;
  font-size: 25px;
  color: #f4f5f7;
}

.P {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 114px;
  height: 48px;
  flex: none;
  font-size: 25px;
  margin-left: 120px;
  color: #f4f5f7;
}

.Cc {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 114px;
  height: 48px;
  flex: none;
  margin-left: 120px;
  font-size: 25px;
  color: #f4f5f7;
}

.S {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 114px;
  height: 48px;
  flex: none;
  margin-left: 120px;
  font-size: 25px;
  color: #f4f5f7;
}

.skill {
  width: 115px;
  height: 44px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-top: 250px;
  display: flex;
  margin-left: -10px;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.aal {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 138px;
  height: 60px;
  flex: none;
}

.mmk {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 8px;
  width: 138px;
  height: 272px;
  margin-top: 100px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: -70px;
}

.pic2 {
  width: 18px;
  height: 18px;
  margin-top: 230px;
  margin-left: -10px;
  background: #ff6b00;
  border-radius: 150px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Cd {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 114px;
  height: 48px;
  flex: none;
  margin-left: 180px;
  font-size: 25px;
  color: #f4f5f7;
}

.G {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 114px;
  height: 48px;
  flex: none;
  margin-left: 180px;
  font-size: 25px;
  color: #f4f5f7;
}

.D {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 114px;
  height: 48px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 180px;
  font-size: 25px;
  color: #f4f5f7;
}

.kk {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 114px;
  height: 48px;
  flex: none;
  margin-left: 180px;
  font-size: 25px;
  color: #f4f5f7;
}

.T {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 114px;
  height: 48px;
  margin-left: 180px;
  font-size: 25px;
  color: #f4f5f7;
}

.form {
  position: absolute;
  height: 48px;
  top: calc(50% - 48px / 2);
  margin: 0;
}

.z {
  position: absolute;
  height: 1px;
  bottom: -40px;
  background: #dbd8d7;
}

form {
  display: flex;
  flex-direction: column;
  width: 327px;
  gap: 22px;
}

input {
  height: 48px;
  background: #fff;
  border: white;
  border-bottom: 1px solid #dbd8d7;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #0d151e;
}

.namess {
  margin-left: -1px;
}

.btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
  width: 100px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  align-items: inline;
}

.btn:active {
  background: #e05304;
  border: 1px solid transparent;
  color: #f4f1f0;
  width: 100px;
  cursor: pointer;
}

form button:enabled {
  width: 100px;
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  border: none;
  margin-left: 93px;
  cursor: pointer;
}

.message {
  height: 114px;
  border: none;
  background-color: #fbf8f7;
}

.message::placeholder {
  color: #0d151e;
  font-weight: 400;
  font-style: bold;
  font-family: "Inter", sans-serif;
}

.kkl {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #979493;
  position: absolute;
  width: 200px;
  height: 40px;
  left: 50px;
  top: 980px;
}

.shape {
  position: absolute;
  width: 134px;
  height: 5px;
  left: 80px;
  bottom: 1px;
  background: #0d151e;
  border-radius: 10px;
}
